html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left;}

a {
    color: inherit;
    text-decoration: none;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0;
    font-family: system-ui;
    padding: 70px;
}

#extra {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

#form {
    width: 40%;
    height: 754px;
}

.desconnect{
    text-align: center;
    font-size: 14px;
    padding-top: 6px;
    margin: 0 0 138px 0!important;
    display: inline-block;
}

input[type="submit"], .desconnect {
    border: none;
    border-radius: 2px;
    background: orangered;
    cursor: pointer;
    margin: 20px 0 0 0;
    width: 119px;
    height: 35px;
    color: #fff;
    letter-spacing: 1px;
}

.extra input {
    font-size: 15px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid gray;
}

.extra input:focus{
    border-bottom: 2px solid red!important;
    outline: none;
}

label {
    font-weight: 500;
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 8px;
}

.group {
    display: flex;
}

.group .form_item:last-child {
    margin-left: 33px;
}

.extra select {
    width: 78px;
}

#extra h1 {
    font-size: 26px;
    font-family: fantasy;
    color: orangered;
}

#extra img {
    width: 160px;
    display: block;
    margin: auto;
}